body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-box{
    width: 30vw;
    margin-right: 5px;
}

#button{
    cursor: pointer;
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:coral;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

#results{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flood-color: coral;
}
.title{
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
    color: coral;
}

.ingredients{
    font-size: 18px;
}

.url{
    font-size: 18px;
}